

.about{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.about_container {
    display: flex;
    justify-content: center;
    max-width: 900px; /* Limits the container width */
    
}

.highlight {
    color: var(--main-color)
}

/* ends here - image styling */

.about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.8rem;
    
}

.about_card {
    background: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
    min-height: 250px; /* Set a minimum height for the cards */
    max-width: 250px;
    margin-bottom: 2rem;
}

.about_card:hover {
    background: transparent;
    border-color: var(--main-color);
    cursor: default;
}

.about_icon {
    color: var(--main-color);
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 0.4rem;
}

.about_card small {
    font-size: 0.7rem;
    display: block; /* Ensure it takes up full width */
    line-height: 1.5rem; /* Increase line spacing for better readability */
    color: var(--text-color);
    
    
}

.about_card h5 {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--text-color);
    text-align: justify; /* make text fill container*/
    padding: 0 100px; /* Add padding to compress text inward */
}

/* media query for medium device */
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}


/* for small devices */
@media screen and (max-width: 600px) {
    .about_me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }
}