header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('src/assets/Images/color.png') no-repeat center center/cover;
    padding: 50px 10%;
    height:100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.home_container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    z-index: 2; /* Ensures text appears above the background */
    
}

h1{
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
}

.cta {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}

.highlight{
    color: var(--main-color)
}